*{
    margin: 0px;
    padding: 0px;
}

.navimg{
 padding: 10px;
}
.btnnav{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}